# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Django Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Virtual Environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Build & Output


# Unit test / coverage / linters
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node / Frontend dependencies (if applicable)
node_modules/

# IDEs and Code Editors
.idea/
.vscode/
*.swp
*.swo
*~
.project
.pydevproject
.settings/

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
